<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
  <description>MySQL Test App</description>
  <servlet>
  	<servlet-name>JDBCDataSourceExample</servlet-name>
  	<display-name>JDBCDataSourceExample</display-name>
  	<description>Servlet de Teste</description>
  	<servlet-class>com.journaldev.jdbc.datasource.JDBCDataSourceExample</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JDBCDataSourceExample</servlet-name>
  	<url-pattern>/JDBCDataSourceExample</url-pattern>
  </servlet-mapping>
  <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/TestDB</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth> 
  </resource-ref>
</web-app>